{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Commande</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Orderid</th>
                <td>{{ entity.orderId }}</td>
            </tr>
            <tr>
                <th>Orderstatus</th>
                <td>{{ entity.orderStatus }}</td>
            </tr>
            <tr>
                <th>Ordershipping</th>
                <td>{{ entity.orderShipping }}</td>
            </tr>
            <tr>
                <th>Paymentdate</th>
                <td>{{ entity.paymentDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('commande') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('commande_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
